<h1 class="ui header">Top Music Charts</h1>
<div class="ui divider"></div>

<div class="ui grid charts">
  <% @boards.each do |board| %>
  <div class="sixteen wide mobile eight tablet four wide computer column">
  <div class="content">
          <%= link_to board.name, board_path(board) %>
  <% end %>        
    </div>
  </div>  
</div>
  