<div class="charts">
  <h1 class="ui header">Top Music Charts</h1>
  <div class="boards">
  <% @boards.each do |board| %>
    <%= link_to board.name, board_path(board), class:"board"%>
  <% end %>        
  </div>
</div>
  